@charset "UTF-8";
/* CSS Document */

.spanBeltSelect{
	font-weight: bold;
}

.divBeltSelect{
	padding:5px;
}

.hiddenDiv{
	display:none;
}

#bodyIndex {
background-color:black;
color:ghostwhite;
}

    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }



    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }



.navbar {
    /*margin: 0px auto;*/
    /*position: fixed;*/
    /*top: 0px;*/
    background-color: #061524;
    /*width: 100%;*/
    /*height: 150px;*/
    /*text-align: center;*/
    /*z-index: 4;*/
    border: 2px solid #888;
}


		footer {
			color: white;
			padding: 15px;
		    text-align: center;
		    position: fixed;
		    left: 0px;
		    bottom: 0px;
		    /*height: 70px;*/
		    width: 100%;
		    background: #061524;
		    /*z-index: 4;*/
		    border: 2px solid #888;
		}
